<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Formulario</title>
  </head>
  <body>
    <h1>Filtro de usuarios</h1>
    <form action="procesamiento" method="POST">
      {% csrf_token %}
      <label for="id_usuario">ID de usuario:</label>
      <input type="text" id="id_usuario" name="id_usuario">
      <br><br>
      <label for="minutos_jugados_min">Minutos jugados mínimos:</label>
      <input type="number" id="minutos_jugados_min" name="minutos_jugados_min">
      <br><br>
      <label for="minutos_jugados_max">Minutos jugados máximos:</label>
      <input type="number" id="minutos_jugados_max" name="minutos_jugados_max">
      <br><br>
      <label for="puntaje_min">Puntaje mínimo:</label>
      <input type="number" id="puntaje_min" name="puntaje_min">
      <br><br>
      <label for="puntaje_max">Puntaje máximo:</label>
      <input type="number" id="puntaje_max" name="puntaje_max">
      <br><br>
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
